@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue: #0079ff;
  --color-gray: #697c9a;
  --color-bluegrey: #4b6a9b;
  --color-blacklightmode: #2b3442;
  --color-whitelightmode: #fefefe;
  --color-lightgray: #f6f8ff;
  --color-blackdarkmode: #141d2f;
  --color-navy: #1e2a47;
}

@layer base {
html:not(.dark){
  @apply bg-whitelightmode text-bluegrey;
}
html.dark {
  @apply bg-blackdarkmode text-white;
}

html {
 font-family: "Space Mono", serif;
 @apply tracking-widest;
}
html.dark h1 {
  @apply text-white
}
h1 {
  @apply font-bold text-2xl text-blacklightmode;
}
h2 {
  @apply text-xl;
}

}